body {
  font-size: 16px;
  line-height: 1.4;
  color: #222;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  max-width: 100%;
}

.cat {
  opacity: 0;
}

h1 {
  font-family: "Montserrat";
  text-transform: capitalize;
}

/* Adding the 'show' class will make the image visible */
.cat.show {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.main-content {
  width: 90%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.show-cat {
  width: 60%;
  padding: 1em 1em;
  border: 0;
  background-color: #f16059;
  color: white;
  border-radius: 60px;
  cursor: pointer;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.show-cat:focus {
  outline: 0;
}

.show-cat.disappear {
  background-color: slateblue;
  font-style: italic;
  width: 45%;
}

.show-cat:active {
  transform: scale(0.98);
}

@media (min-width: 760px) {
  .show-cat {
    font-size: 1.25em;
  }
}
